<div *ngIf="isLoggedIn">
    <nav>
        <button type="button"><a routerLink="/home"><img src="assets/image/home.jpg" title="Home" width="40px" height="40px"/></a></button>&nbsp;&nbsp;
        <button type="button"><a routerLink="/contactus"><img src="assets/image/contactus.png" title="ContactUs" width="40px" height="40px"/></a></button>&nbsp;&nbsp;
        <button type="button"><a routerLink="/aboutus"><img src="assets/image/aboutus.png" title="AboutUs" width="40px" height="40px"/></a></button>
    </nav>
</div>