<meta http-equiv="Cache-control" content="public">
<body>
    <video autoplay loop muted playsinline poster="assets/video/ly4.gif">
        <source src="assets/video/ly4.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="center-container">
      <div class="loginuser">
          <form name="LoginForm" #loginData="ngForm" (ngSubmit)='login(loginData)'>
                <table>
                  <fieldset style="border-color: #333;">
                    <legend style="text-align: left; color: #333; font-weight: bold;">|&nbsp;<img src="assets/image/login.png" width="30px" height="30px" style="vertical-align: middle;"/>&nbsp;Login&nbsp;|</legend>
                  <tr><td>&nbsp;</td></tr>
                <tr style="text-align: left">
                  <td>Username&nbsp;</td>
                  <td><input type="text" name="UserName" placeholder="Enter Username"  ngModel required max="30" min="5"/></td></tr>
                <tr style="text-align: left">
                  <td>Password&nbsp;</td>
                  <td><input type="password" name="password"  placeholder="Enter Password" ngModel required /></td></tr><tr><td>&nbsp;</td></tr>
                <tr align="right"><td colspan="2">
                  <input type="submit" class="button" value="Login" [disabled]="!loginData.valid"/></td></tr>
              </fieldset>

              </table>
            </form>
      </div>
    </div>
  </body>