<app-navbar></app-navbar>
<body>
    <div class="container">
        <h1>About Us</h1>
        <p>Batman is a superhero appearing in American comic books published by DC Comics. Created by artist Bob Kane and writer Bill Finger, Batman debuted in the 27th issue of Detective Comics on March 30, 1939. In the DC Universe, Batman is the alias of Bruce Wayne, a wealthy American playboy, philanthropist, and industrialist residing in Gotham City. Batman's origin story involves witnessing the murder of his parents, leading him to swear vengeance against criminals, tempered with the ideal of justice.</p>

        <p>Batman does not possess superpowers; instead, he relies on his intellect, fighting skills, and wealth. Over the years, Batman has been accompanied by supporting characters like Robin, Batgirl, and allies such as Alfred Pennyworth and James Gordon. His rogues' gallery includes villains like the Joker, Penguin, and Two-Face.</p>

        <p>Considered one of the most iconic characters in popular culture, Batman has appeared in various media, including comic books, television series, and films. Actors like Michael Keaton, Christian Bale, and Robert Pattinson have portrayed Batman on screen, and voice actors like Kevin Conroy have brought the character to life in animations.</p>

        <p>At our organization, we admire Batman's legacy of justice, determination, and resilience. Inspired by these values, we are committed to [Your Organization's Mission or Services]. Our team works diligently to provide exceptional [Products/Services] to our customers and make a positive impact in the world, just like Batman does in Gotham City.</p>

        <p>If you have any questions or want to learn more about our services, please feel free to <a href="http://localhost:4200/contactus">contact us</a>. Thank you for visiting!</p>
    </div>
</body>