.result {
    border-collapse: collapse;
}

.result th, .result td {
    border: 1px solid black;
}
.result > table tr, .result > table th, .result > table td {
    border: 2px solid white;
    transition: background-color 0.3s ease;
}

.result > table tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}