<app-navbar></app-navbar>
<h3>Manage Contacts</h3>
<form name="TemplateForm" #contactData="ngForm" (ngSubmit)='addContact(contactData)'>
  <table>
    <tr style="text-align: left;"><td>Contact ID: </td><td colspan="6"><input type="number" name="contactid" ngModel /></td></tr>
    <tr style="text-align: left;"><td>First Name: </td><td colspan="6"><input type="text" name="firstName" ngModel required /></td></tr>
    <tr style="text-align: left;"><td>Last Name: </td><td colspan="6"><input type="text" name="lastName" ngModel required /></td></tr>
    <tr style="text-align: left;"><td>Phone Number: </td><td colspan="6"><input type="number" name="phone" ngModel required /></td></tr>
    <tr style="text-align: left;"><td>Email ID: </td><td colspan="6"><input type="text" name="emailid" ngModel required /></td></tr>
    <tr style="text-align: left;"><td>Address: </td><td colspan="6"><input type="text" name="address" ngModel required /></td></tr><tr><td>&nbsp;</td></tr>
    <tr><td style="text-align: right;"><input type="submit" class="button" value="Add Contact" [disabled]="!contactData.valid" /></td><td>&nbsp;</td>
      <td><input type="button" class="button" value="Modify Contact" [disabled]="!contactData.valid" (click)='updateContact(contactData)' /></td><td>&nbsp;</td>
      <td><input type="button" class="button" value="Delete Contact" (click)='deleteContact(contactData)' /></td><td>&nbsp;</td>
      <td><input type="button" class="button" value="Get Contacts" (click)='getAllContacts()' /></td></tr>
  </table>
</form><br>
<hr/>
<form name="TemplateForm2" #contactData2="ngForm" (ngSubmit)='searchContact(contactData2)' *ngIf="showResult">
  <table>
    <tr><th>Filter By Contact ID : </th><td><input type="number" name="contactid" ngModel required /></td>
    <td colspan="2"><input type="submit" class="button" value="Filter" [disabled]="!contactData2.valid" /></td></tr>
  </table>
</form><br>
<table class="result" *ngIf="showResult">
  <tr>
    <th>Contact ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone Number</th>
    <th>Email ID</th>
    <th>Address</th>
  </tr>
  <tr *ngFor="let contact of contactList" style="vertical-align: middle;"><td>{{contact.contactid}}</td><td>{{contact.firstname}}</td><td>{{contact.lastname}}</td><td>{{contact.phonenumber}}</td><td>{{contact.EmailID}}</td><td>{{contact.address}}</td></tr>
</table>