<app-navbar></app-navbar>
<h3>Manage User Registrations</h3>
<form name="TemplateForm" #userData="ngForm" (ngSubmit)='addUser(userData)'>
  <table>
    <tr style="text-align: left;">
      <td>Username: </td>
      <td colspan="6"><input type="text" name="userid" ngModel required /></td>
    </tr>
    <tr style="text-align: left;">
      <td>Password: </td>
      <td colspan="6"><input type="password" name="password" ngModel required /></td>
    </tr>
    <tr style="text-align: left;">
      <td>Email ID: </td>
      <td colspan="6"><input type="text" name="emailid" ngModel required /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: right;"><input type="submit" class="button" value="Add User"
          [disabled]="!userData.valid" /></td><td>&nbsp;</td>
      <td><input type="button" class="button" value="Modify User" (click)="updateUser(userData)"
          [disabled]="!userData.valid" /></td><td>&nbsp;</td>
      <td><input type="button" class="button" value="Delete User" (click)="deleteUser(userData)" /></td><td>&nbsp;</td>
      <td><input type="button" class="button" value="Get Users" (click)="getAllUsers()" /></td>
    </tr>
  </table>
</form><br>
<hr />
<form name="TemplateForm2" #userData2="ngForm" (ngSubmit)='searchUser(userData2)' *ngIf="showResult">
  <table>
    <tr>
      <td>Filter by Username: </td>
      <td><input type="text" name="uid" ngModel required /></td>
      <td><input type="submit" class="button" value="Filter" [disabled]="!userData2.valid" /></td>
    </tr>

  </table>
</form><br>
<table class="result" *ngIf="showResult">
  <tr>
    <th>Username</th>
    <th>Password</th>
    <th>Email ID</th>
    <th></th>
  </tr>
  <tr *ngFor="let user of userList" style="vertical-align: middle;">
    <td>{{user.userid}}</td>
    <td>{{user.password}}</td>
    <td>{{user.emailid}}</td>
    <td style="text-align: center; vertical-align: bottom;"><button type='button' class="button"
        (click)="showUserDetails(user)">View
        Details</button></td>
  </tr>
</table>